.generalDiv{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.general{
    background-color: dimgrey;
    border: #282c34 1px solid;
    width: 95%;
    height: 450px;
}

.table{
    color:white;
}

.th{
    border: #282c34 1px solid;
  }

.table tr:nth-child(even) {
    background-color: skyblue;
}